<div class="container" style="margin-top:30px;">
    <button class="float-right" mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
    </button>
    <h1 align="center">UsersDetails</h1>
</div>
<br>
<div class="container">
    <div class="loader-view">
        <mat-spinner *ngIf="isLoading,'{duration:2000}'"></mat-spinner>
    </div>
    <mat-table [dataSource]="userList">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef style="max-width: 7% !important"> SNo. </mat-header-cell>
            <mat-cell *matCellDef="let item;let i=index" style="max-width: 7% !important">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef> Created_At </mat-header-cell>
            <mat-cell *matCellDef="let item "> {{item.created_at}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let item" routerLink="/dashboard/users_table/{{item.id}}"> {{item.firstName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address.city">
            <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.address.city}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address.state">
            <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.address.state}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address.pincode">
            <mat-header-cell *matHeaderCellDef> Pin Code </mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.address.pincode}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hobbies">
            <mat-header-cell *matHeaderCellDef> Hobbies </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <ol>
                    <li *ngFor="let hobby of item.hobbies"> {{hobby}}</li>
                </ol>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon style="margin-left: 7px;" (click)="onEdit(row)">edit
                </mat-icon>
                <mat-icon (click)="onDelete(row.id)">delete</mat-icon>
            </mat-cell>
            <!-- <td mat-footer-cell *matFooterCellDef [attr.colspan]="tableColumns.length"></td> -->

        </ng-container>


        <mat-header-row *matHeaderRowDef="tableColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        <!-- <tr mat-footer-row *matFooterRowDef="tableColumns; sticky: true"></tr>> -->
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>