<div class="text-center" style="width: 30%;margin-top: 20px;margin-left:30%;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" align="right">
                        <p><b>First Name :</b></p>
                        <p><b>Last Name :</b></p>
                        <p><b>Email :</b></p>
                        <p><b>City :</b></p>
                        <p><b>State :</b></p>
                        <p><b>PinCode :</b></p>
                        <p><b>Hobbies :</b></p>

                    </div>
                    <div class="col-sm-6" align="left">
                        <p>{{userData?.firstName}}</p>
                        <p> {{userData?.lastName }}</p>
                        <p> {{userData?.email }}</p>
                        <p> {{userData?.address?.city }}</p>
                        <p> {{userData?.address?.state }}</p>
                        <p> {{userData?.address?.pincode }}</p>
                        <p> {{userData?.hobbies }}</p>

                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="backTo()" style="background-color:aquamarine;">Go Back</button>
        </mat-card-actions>
    </mat-card>
</div>