<div>
    <mat-card style="width: 30%;margin-left: 30%;margin-top: 5%;" align="center">
        <mat-card-header>
            <mat-card-title>CONTACT DETAILS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form [formGroup]="userContact">
                <mat-form-field>
                    <mat-label>NAME:</mat-label>

                    <input matInput placeholder="Enter Your Name" formControlName="name" required>
                    <mat-error *ngIf="userContact.get('name').hasError('required')">Name is Required</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>EMAIL:</mat-label>
                    <input matInput placeholder="Example@email.com" formControlName="email" required>

                    <mat-error *ngIf="userContact.get('email').hasError('required')">Email is Required</mat-error>
                    <mat-error
                        *ngIf="userContact.get('email').hasError('email') && !userContact.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>MOBILE NO: </mat-label>
                    <input matInput placeholder="Enter Mobile No" maxlength="10" minlength="10"
                        formControlName="mobileNo" (keypress)="numberOnly($event)" required>
                    <mat-error *ngIf="userContact.get('mobileNo').hasError('required')">Mobile No is Required
                    </mat-error>
                    <mat-error *ngIf="userContact.get('mobileNo').hasError('minlength')">Enter 10 digits </mat-error>
                </mat-form-field><br><br><br>
                <button mat-raised-button color="primary" (click)="onSave()">Save</button>

            </mat-form>
        </mat-card-content>
    </mat-card>

</div>