<div>
    <h2 class="home">HOME PAGE</h2>
    <div class="container">
        In a single-page app, you change what the user sees by showing or hiding portions of the display that
        correspond to
        particular components, rather than going out to the server to get a new page. As users perform application
        tasks,
        they need to move between the different views that you have defined. To implement this kind of navigation
        within the
        single page of your app, you use the Angular Router.

        To handle the navigation from one view to the next, you use the Angular router. The router enables
        navigation by
        interpreting a browser URL as an instruction to change the view.


    </div>