<div class="container" align="center" style="width: 30%; margin-top:10%;">
    <mat-card>
        <mat-card-header>
            <mat-card-title style="padding-top: 10px;">USER FORM</mat-card-title>
        </mat-card-header><br><br>
        <mat-card-content>
            <div style="margin-top: 10px;">
                <mat-form [formGroup]="userLoginForm">
                    <mat-form-field appearance="fill">
                        <mat-label>USER NAME:</mat-label>
                        <input matInput placeholder="Enter UserName" [(ngModel)]="userName" required
                            formControlName="userName">
                        <mat-error *ngIf="userLoginForm.get('userName').hasError('required')">
                            UserName is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <br><br><br>
                    <mat-form-field appearance="fill">
                        <mat-label>PASSWORD:</mat-label>
                        <input matInput type="password" placeholder="Enter Password" [(ngModel)]="passWord" required
                            formControlName="passWord">
                        <mat-error *ngIf="userLoginForm.get('passWord').hasError('required')">
                            PassWord is <strong>required</strong>
                        </mat-error>
                    </mat-form-field><br><br><br><br>
                    <button mat-raised-button color="primary" type="submit" (click)="userLoggedIn()">LOGIN</button>
                </mat-form>
            </div>
        </mat-card-content>
    </mat-card>
</div>