.dialogMsg {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    font-family: sans-serif;
    margin-top: 25px;
  }
  
  .OKBtnClass {
    font-size: 12px;
  }
  
  .activeButtonColor {
    background: #1a8cff;
    color:white;
  
  }
  
  .align-end {
    justify-content: flex-end;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  

  
  