<div *ngIf=" data?.buttons?.length > 1;else showDefaultModal">
    <h1 mat-dialog-title *ngIf="data?.dialogTitle">{{data?.dialogTitle}}</h1>
    <div mat-dialog-content>
        <div *ngIf="data?.htmlMsg;else showNormalView" [innerHTML]="data?.htmlMsg"></div>
        <ng-template #showNormalView>
            <p>{{data?.message}}</p>
        </ng-template>
    </div>
    <div mat-dialog-actions class="align-end">
        <ng-container *ngFor="let button of data?.buttons">
            <button mat-button (click)="button.handler()"
                [ngClass]="{activeButtonColor: button?.active}">{{button?.label}}</button>
        </ng-container>
    </div>
</div>
<ng-template #showDefaultModal>
    <mat-dialog-content style="text-align: center;" class="mt-20">

        <p class="dialogMsg">
            {{data?.message}}
        </p>
    </mat-dialog-content>
</ng-template>