<h1 mat-dialog-title align="center">Edit UserProfile</h1>
<mat-dialog-content>
    <div class="container" align="center">
        <form [formGroup]="userProfile" (ngSubmit)="profileSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput maxlength="50" minlength="3" formControlName="firstName"
                            placeholder="Enter FirstName" required>
                        <mat-error *ngIf="userProfile.get('firstName').hasError('minlength')">Enter Min 3 characters
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('firstName').hasError('required')">
                            FirstName is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('firstName').hasError('maxlength')">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput maxlength="50" minlength="3" formControlName="lastName"
                            placeholder="Enter LastName" required>
                        <mat-error *ngIf="userProfile.get('lastName').hasError('required')">
                            LastName is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('lastName').hasError('minlength')">Enter Min 3 characters
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('lastName').hasError('maxlength')">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Example@email.com" maxlength="50" formControlName="email" required>
                        <mat-error
                            *ngIf="userProfile.get('email').hasError('email') && !userProfile.get('email').hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('email').hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="userProfile.get('email').hasError('maxlength')"></mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Mobile No</mat-label>
                        <input matInput placeholder="Enter MobileNo" formControlName="mobileNo" maxlength="10"
                            minlength="10" required>
                        <mat-error *ngIf="userProfile.get('mobileNo').hasError('required')">Mobile Number is<strong>
                                required</strong></mat-error>
                        <mat-error *ngIf="userProfile.get('mobileNo').hasError('maxlength')">Max 10 digits</mat-error>

                    </mat-form-field>
                </div>
            </div><br>

            <button mat-raised-button color="accent">Submit</button>
        </form>
    </div>
</mat-dialog-content>