<h2 class="about">ABOUT</h2>
<div class="container">Angular Material provides two sets of components designed to add collapsible side content (often
    navigation, though
    it can be any content) alongside some primary content. These are the sidenav and drawer components.

    The sidenav components are designed to add side content to a fullscreen app. To set up a sidenav we use three
    components: which acts as a structural container for our content and sidenav,
    which represents the main content, and which represents the added side
    content.</div>