<h1 mat-dialog-title>{{data.recordInfo ? 'Edit' : 'Add'}} user details</h1>
<mat-dialog-content>
  <div class="container" align="center">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput maxlength="50" minlength="3" formControlName="firstName" placeholder="Enter FirstName"
              required>
            <mat-error *ngIf="userForm.get('firstName').hasError('minlength')">Enter Min 3 characters
            </mat-error>
            <mat-error *ngIf="userForm.get('firstName').hasError('required')">
              FirstName is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userForm.get('firstName').hasError('maxlength')">
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput maxlength="50" minlength="3" formControlName="lastName" placeholder="Enter LastName"
              required>
            <mat-error *ngIf="userForm.get('lastName').hasError('required')">
              LastName is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userForm.get('lastName').hasError('minlength')">Enter Min 3 characters
            </mat-error>
            <mat-error *ngIf="userForm.get('lastName').hasError('maxlength')">
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Example@email.com" maxlength="50" formControlName="email" required>
            <mat-error *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="userForm.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userForm.get('email').hasError('maxlength')"></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="address" class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label> City:</mat-label>
            <input matInput formControlName="city" required>
            <mat-error *ngIf="userForm.get('address.city').hasError('required')">
              City is <strong>required</strong>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label> State:</mat-label>
            <input matInput formControlName="state" required>
            <mat-error *ngIf="userForm.get('address.state').hasError('required')">
              State is <strong>required</strong>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label> Pincode:</mat-label>
            <input matInput formControlName="pincode" required minlength="6" maxlength="6"
              (keypress)="numberOnly($event)">
            <mat-error *ngIf="userForm.get('address.pincode').hasError('required')">
              Pincode is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userForm.get('address.pincode').hasError('minlength')">
              Please enter 6 digits
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div formArrayName='hobbies' class="row">
        <div class="col-sm-12">
          <div *ngFor="let item of hobbies.controls;let i = index">
            <mat-form-field>
              <input matInput placeholder="Hobby" [formControlName]="i" required>
              <mat-error *ngIf="item.hasError('required')">
                Hobby is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <button *ngIf='i === hobbies.length-1; else showDeleteIcon' mat-mini-fab color="accent" (click)="addHobby()"
              aria-label="Add icon">
              <mat-icon>add</mat-icon>
            </button>
            <ng-template #showDeleteIcon>
              <button mat-mini-fab color="primary" (click)="deleteHobby(i)" aria-label="Delete icon">
                <mat-icon>clear</mat-icon>
              </button>
            </ng-template>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mt-5">
          <mat-spinner *ngIf="showSpinner"></mat-spinner>
          <button mat-raised-button color="accent"
            [disabled]="showSpinner">{{data?.recordInfo ? 'Update' : 'Submit'}}</button>&nbsp;&nbsp;
          <button type="reset" mat-raised-button color='primary'>Reset</button>
        </div>
      </div>
    </form>

  </div>
</mat-dialog-content>