 .active-link{
    text-decoration: underline;
    color:whitesmoke;
    background: transparent;

} 
 .menuicon {
    color: white;
    background: transparent;
    border: 0px;
    border-color:transparent;
    display: flex;
    padding: 1px;
    outline: 0px;
  } 
  a{
    background-color:transparent;
    color: white;
    font-size: medium;
    min-width: 10px;
  }

  .mat-tab-link
 {
opacity: inherit;
}
  .navigation{
    color: white;
  }
  .avatar-circle {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color:white;
    text-align:center;
    border-radius: 50%;
  }  
  .initials {
    position: relative;
    font-size: 20px; 
    line-height: 50px; 
    color:rgb(37, 37, 78);
  }
  .dropdown-item{
    color:black;
  }
  