<div>
    <mat-toolbar style="background-color: #131098;">
        <mat-toolbar-row>
            <mat-menu #appMenu>
                <button mat-menu-item (click)="logoutHandler()">
                    <mat-icon style=" font-size: 20px;">logout</mat-icon> Logout
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menuicon">
                <mat-icon style="font-size: 30px;">menu</mat-icon>
            </button>
            <div style="width: 90%;">

                <nav mat-tab-nav-bar mat-align-tabs="center" class="navbar-dark">
                    <a mat-tab-link routerLink="/dashboard/home" routerLinkActive="active-link">Home</a>
                    <a mat-tab-link routerLink="/dashboard/about" routerLinkActive="active-link">About</a>
                    <a mat-tab-link routerLink="/dashboard/contact" routerLinkActive="active-link">Contact</a>
                    <a mat-tab-link routerLink="/dashboard/users_table" routerLinkActive="active-link">Users</a>

                </nav>

            </div>

            <div>
                <nav class="navbar  navbar-expand" style="color: white;">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Welcome {{userName}}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/dashboard/profile">Edit Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                            </div>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="avatar-circle">
                <span class="initials">{{profile}}</span>
            </div>

            <!-- <div style=" width:80%;text-align: center;"> 
            <mat-nav-list class="list-horizontal">
                <mat-list-item>
                    <a routerLink="/user-dashboard/home" routerLinkActive="active-link">Home</a>
                    <a routerLink="/user-dashboard/about" routerLinkActive="active-link">About</a>
                    <a routerLink="/user-dashboard/contact" routerLinkActive="active-link">Contact</a>
                    <a routerLink="/user-dashboard/usertableform" routerLinkActive="active-link">Users</a>
                </mat-list-item>
            </mat-nav-list>
</div> -->
        </mat-toolbar-row>
    </mat-toolbar>

</div>
<div>
    <router-outlet></router-outlet>
</div>